<div *ngIf="question">
  <form class="ui form" *ngIf="active" [formGroup]="answerForm" (submit)="send()">
    <div class="field">
    <label for="answer"><strong>Question:</strong> {{question.Content}}</label>
    <textarea formControlName="answer" id="answer" placeholder="required"></textarea>
    </div>
    <info [control]="answerForm.controls.answer"></info>
    
    <button class="ui primary button" type="submit">Submit</button>
  </form>
  <div class="ui positive message" *ngIf="sent">{{message}}</div>
</div>