<div>
  <form class="ui form" *ngIf="active" [formGroup]="askForm" (submit)="send()">
    <div class="field">
      <label for="name">Name</label>
      <input formControlName="name" id="name" placeholder="required" />
    </div>
    <info [control]="askForm.controls.name"></info>
    
    <div class="field">
      <label for="email">Email</label>
      <input formControlName="email" id="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="required" />
    </div>
    <info [control]="askForm.controls.email"></info>
    
    <div class="field">
      <label for="content">What is your question?</label>
      <textarea formControlName="content" id="content" placeholder="required"></textarea>
    </div>
    <info [control]="askForm.controls.content"></info>

    <button class="ui primary button" type="submit">Submit</button>
  </form>
  <div class="ui positive message" *ngIf="sent">{{message}}</div>
</div>